/* CSS Template */
@font-face {
    font-family: LibreBaskerville;
    src: url(Dependency/Libre%20Baskerville%20v1.0/LibreBaskerville-Regular.ttf);
}

/* Nav Bar */
.nav {
    margin-left: 0;
    padding: 0;
    color: skyblue;
    text-align: left;
    text-decoration: none;
    width: 250px;
}

.nav ul{
    float: left;
    background: #474747;
    list-style: none;
    align-self: flex-end;
    width:inherit;
}

.nav li{
    float: left;
    width: inherit;
}

.nav li:hover{
    width: 300px;
}

.extend {
    border-bottom: 1px solid black;
    background: #474747;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: width .5s;
    transition: width .5s;
    display: inline-block;
}

.extend:hover{
    width: 300px;
}



.hidden {

}

.nav_items {
    width: 250px;
    font-family: LibreBaskerville;
    font-size: 20px;
    width: 250px;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    visibility: visible;
}


.source_container{
    -webkit-transition: height .5s;
    transition: height .5s;

}

li:hover .source_container{
    height: 100%;
    /*
    height: 10px; /* The height of the containerFixed for now */

}

.nav_sources {
    padding-top: 5px;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    font-size: 15px;
    display: block;
    text-indent: 20px;

}

li .nav_sources{
    height: 0px;
    opacity: 0;
    -webkit-transition: height .5s, opacity .5s;
    transition: height .5s, opacity .5s;
}

li:hover .nav_sources{
    opacity: 1;
    height: 30px;
    /*change from transparent to full alpha*/
    visibility: visible;
    display: block;
}

a:hover {
    color: white;
}
