

body {
    background-color: #CCCCCC;
    margin: 0px;
    text-align: left;
}

#nav-holder {
    /*background-color: #293E6A;*/
    background-color: #293E6A;
    margin: 0px;
    width: 100%;
    position: fixed;
    opacity: .9;
    font-family: georgia;
}

#navBar{
    background-color: #293E6A;
    display: block;
    height: 50%;
    margin: auto;
}

#navBar ul {
    list-style-type: none;
    height: inherit;
    margin: auto;
}



#navBar ul li {
    top: 50%;
    font-size: 30px;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    float: left;

    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#menu-item {
}


#navBar ul li:hover {
    background-color: #3B5998;

    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#navBar ul li a {
    color: #74AAF7;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#navBar ul li a:hover {
    color: #74AAF7;
}

#navBar ul li:hover * {
    visibility: visible;
}

.sub-menu{
    display: block;
    padding: 0;
    list-style-type: none;
}

.sub-menu div{
    background-image: none;
    display: block;
    visibility: hidden;
    padding: 0;
    margin: 0;
    line-height: normal;
    list-style: none;
}



