


body {

    background-color: #121211;
    margin: 0px;
    text-align: left;
    height: 1000px;
    overflow-y: scroll;

    -webkit-align-items: center;
}

#banner *{
    position: absolute;
    top: 150px;
    margin-right: auto;
    margin-left: auto;
    horiz-align: center;
    width: 100%;
}
#banner h1{
    color: white;
    text-shadow: 20px 20px 10px black;
}

#content{
    /*padding-top: 100px;*/
    margin-top: 61px;
    text-align: center;
    color: white;
}

#content .main_section{
    width: 100%;
    /*
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
    */
    background-color: #121211;
    /* #5F7FC2 */
    /* border-bottom: 2px solid #3B5998; */
/*
    -webkit-box-shadow: 5px 7px 5px 0px #686C6E;
    -moz-box-shadow: 5px 7px 5px 0px #686C6E;
    box-shadow: 5px 7px 5px 0px #686C6E;
*/
}

#content img{
    padding: 0;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 0px 0px black;
    -moz-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0px 0px 0px 0px black;
}

#content h1{
    font-size: 50px;
    padding: 0;
    margin: 0;
    font-family: 'open sans';
    text-shadow: 2px 2px black;
}

#content h2{
    text-shadow: 2px 2px black;
    font-family: 'open sans';
    font-size: 40px;
}

#content h3{
    text-shadow: 2px 2px black;
    font-family: 'open sans';
    font-size: 30px;
}

.panels{
    width: 80%;
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
}

.panels table{
    margin-right: auto;
    margin-left: auto;
}

.panels td{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.panels .panel_container{
    margin: 0;
    padding: 0;
    display: block;
    height: 160px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:rgba(255,255,255,.9);

    -webkit-box-shadow: 2px 2px 10px 2px gray;
    -moz-box-shadow: 2px 2px 10px 2px gray;
    box-shadow: 2px 2px 10px 2px gray;

    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
}


.panels .panel_container .panel_des{
    display: inline-block;
    visibility: visible;
    padding-top: 5px;
    color:rgba(255,255,255,.9);
    width: 100%;
    height: 100%;

    font-family:'Libre Baskerville', serif;
    font-size: 20px;
    text-shadow: 2px 2px black;

    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;

    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}

.panels .panel_container:hover{
    color:rgba(255,255,255,1);

    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;

    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}


.panels img{
    padding: 0;
    margin: 0;
    border: 2px solid #3D4047;
    height: auto;

    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;

}


.panels .panel_container .short_des{
    display: inline-block;
    visibility: visible;
    position: relative;
    width: 100%;
    height: 100%;
    color:rgba(255,255,255,0);

    font-family: "open sans";
    font-size: 1vw;
    background-color:rgba(20,20,20,0);

    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
}



.panels .panel_container:hover .short_des{
    display: inline-block;
    visibility: visible;

    color:rgba(255,255,255,1);
    background-color:rgba(20,20,20,.5);

    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    /*
    transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -o-transform: scale(1.25);
*/
}




#nav-holder {

    /*background-color: #293E6A;*/
    margin: 0px;
    top: 0;
    width: 100%;
    position: fixed;
    opacity: .9;
}

#navBar{
    background: #393939;
    border-bottom: 2px solid #87FF35;
    color: white;
    text-align: left;
    width: auto;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'open sans';
    text-transform: uppercase;
    cursor: default;
}

#navBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



#navBar ul li {

    /*
    padding: 20px 20px 20px 20px;
    top: 50%;
    font-size: 30px;
    float: left;


    */
    cursor: pointer;
    display: inline-block;
    padding: 20px;

    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#menu-item {
}


#navBar ul li:hover {
    background-color: black;
    /* #3B5998 */
    color: #87FF35;
    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#navBar ul li a:hover {
    /*color: #74AAF7;*/
}

#navBar ul li:hover * {
    /*visibility: visible;*/
}

#navBar ul li a{
    display: block;
    padding: 15px;
    background-color: inherit;
    text-decoration: none;
}

.sub-menu{
    display: block;
    padding: 0;
    list-style-type: none;
}

.sub-menu div{
    background-image: none;
    display: block;
    visibility: hidden;
    padding: 0;
    margin: 0;
    line-height: normal;
    list-style: none;
}


.projects {
    visibility: visible;
    display: block;
}

#special_thanks{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: white;
    text-align: center;
}

#special_thanks h1{
    font-size: 32px;
    text-shadow: 2px 2px 10px black;
}

#special_thanks h2{
    color: white;
    text-shadow: 1px 1px 5px black;
}

#version {
    color:white;
    font-size: 12px;
    padding-right: 5px;
    float: right;
    text-shadow: 1px 1px black;
}

#content .blurb {
    background-color: rgba(80,80,80,.5);
    border-radius: 10px;
    vertical-align: middle;

    width: 40%;
    margin-right: auto;
    margin-left: auto;

    -webkit-box-shadow: 1px 1px 10px 1px #79E52F;
    -moz-box-shadow: 1px 1px 10px 1px #79E52F;
    box-shadow: 1px 1px 10px 1px #79E52F;
}

#content .blurb div{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#content .reference {
    border-radius: 2px;

    background-color: inherit;
    margin: 5px;
    margin-top: 5px;
    color: skyblue;
    text-decoration: none;

    text-shadow: 1px 1px black;
}

#content .reference:hover {
    color: deepskyblue;
    cursor: pointer;
}


