


body {
    background-color: #CCCCCC;
    margin: 0px;
    text-align: left;
    height: 1000px;
    overflow-y: scroll;

    -webkit-align-items: center;
}

#content{
    /*padding-top: 100px;*/
    margin: 100px 0 0 0;
    text-align: center;

}

#content *{
    width: 70%;
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    background-color: white;
    border: 2px solid #ababab;

    -webkit-box-shadow: 5px 7px 5px 0px #ababab;
    -moz-box-shadow: 5px 7px 5px 0px #ababab;
    box-shadow: 5px 7px 5px 0px #ababab;
}

#nav-holder {
    /*background-color: #293E6A;*/
    background-color: #293E6A;
    margin: 0px;
    top: 0;
    width: 100%;
    position: fixed;
    opacity: .9;
    font-family: georgia;
}

#navBar{
    background-color: #293E6A;
    text-align: left;
    width: auto;
    margin: 0 auto;
    font-size: 30px;
    cursor: default;
}

#navBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



#navBar ul li {

    /*
    padding: 20px 20px 20px 20px;
    top: 50%;
    font-size: 30px;
    float: left;


    */
    cursor: pointer;
    display: inline-block;
    padding: 20px;

    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#menu-item {
}


#navBar ul li:hover {
    background-color: #3B5998;

    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#navBar ul li a:hover {
    /*color: #74AAF7;*/
}

#navBar ul li:hover * {
    /*visibility: visible;*/
}

#navBar ul li a{
    display: block;
    padding: 15px;
    background-color: inherit;
    text-decoration: none;
}

.sub-menu{
    display: block;
    padding: 0;
    list-style-type: none;
}

.sub-menu div{
    background-image: none;
    display: block;
    visibility: hidden;
    padding: 0;
    margin: 0;
    line-height: normal;
    list-style: none;
}


.projects {
    visibility: visible;
    display: block;
}



