


body {

    background-color: #5F7FC2;
    margin: 0px;
    text-align: left;
    height: 1000px;
    overflow-y: scroll;

    -webkit-align-items: center;
}

#banner *{
    position: absolute;
    top: 150px;
    margin-right: auto;
    margin-left: auto;
    horiz-align: center;
    width: 100%;
}
#banner h1{
    color: white;
    text-shadow: 5px 5px 10px black;
}

#content{
    /*padding-top: 100px;*/
    margin-top: 63px;
    text-align: center;
    color: white;
}

#content .main_section{
    width: 100%;
    /*
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
    */
    background-color: #235066;
    /* #5F7FC2 */
    border-bottom: 2px solid #3B5998;
/*
    -webkit-box-shadow: 5px 7px 5px 0px #686C6E;
    -moz-box-shadow: 5px 7px 5px 0px #686C6E;
    box-shadow: 5px 7px 5px 0px #686C6E;
*/
}

#content img{
    padding: 0;
    margin: 0;
    align: middle;
    max-height: 100%;
    max-width: 100%;

    -webkit-box-shadow: 0px 0px 0px 0px black;
    -moz-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0px 0px 0px 0px black;
}

#content h1{
    font-size: 50px;
    padding: 0;
    margin: 0;
    font-family: LibreBaskerville;
    text-shadow: 2px 2px black;
}

#content h2{
    text-shadow: 2px 2px black;
}


.panels td{
    padding-right: 4px;
    margin: 0;
}

.panels img{
    padding: 0;
    margin: 0;
    border: 2px solid #3D4047;
    vertical-align: bottom;
}


#nav-holder {

    /*background-color: #293E6A;*/
    margin: 0px;
    top: 0;
    width: 100%;
    position: fixed;
    opacity: .9;
}

#navBar{
    background: #393939;
    border-bottom: 2px solid #87FF35;
    color: white;
    text-align: left;
    width: auto;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'open sans';
    text-transform: uppercase;

    cursor: default;
}

#navBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



#navBar ul li {

    /*
    padding: 20px 20px 20px 20px;
    top: 50%;
    font-size: 30px;
    float: left;


    */
    cursor: pointer;
    display: inline-block;
    padding: 20px;

    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#menu-item {
}


#navBar ul li:hover {
    background-color: black;
    /* #3B5998 */
    color: #87FF35;
    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#navBar ul li a:hover {
    /*color: #74AAF7;*/
}

#navBar ul li:hover * {
    /*visibility: visible;*/
}

#navBar ul li a{
    display: block;
    padding: 15px;
    background-color: inherit;
    text-decoration: none;
}

.sub-menu{
    display: block;
    padding: 0;
    list-style-type: none;
}

.sub-menu div{
    background-image: none;
    display: block;
    visibility: hidden;
    padding: 0;
    margin: 0;
    line-height: normal;
    list-style: none;
}


.projects {
    visibility: visible;
    display: block;
}

#special_thanks{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: white;
    text-align: center;
}

#special_thanks h1{
    font-size: 32px;
    text-shadow: 2px 2px 10px black;
}

#special_thanks h2{
    color: white;
    text-shadow: 1px 1px 5px black;
}



