$font-stack:    Roboto;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-image: url('../../assets/img/Frozen.jpeg');
}

.cs-card-row {
  font: $font-stack;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10vh;
}